#activityThreeBg{
    width: 100%;
    height: 100%;
    background: url('../img/activityThree/bg1.png') no-repeat center center;
    background-size: 100% 100%;
    font-size:28px;
    min-width: 620px;
}
.marginHeight{
    height: 111px;
}
.activityThreeBanner{
    width: 80.4%;
    height: 421px;
    background: url('../img/activityThree/bannerTop.png') no-repeat center center;
    background-size: 100% 100%;
    margin: auto;
}

/* input 输入框 */
.wrap_content{
    width: 81.3%;
    height: 364px;
    position: relative;
    margin: auto;
    overflow: hidden;
}
.rightIcon{
    width: 25.5%;
    height: 107px;
    background: url('../img/activityThree/money.png') no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    right: 26px;
    top: 0px;
    z-index: 20;
}
.content{
    width:99%;
    height:320px;
    background:rgba(255,255,255,1);
    border:1Px solid rgba(253, 215, 91, 1);
    box-shadow:0px 0px NaNpx NaNpx rgba(234,81,57,0.5);
    border-radius:10px;
    margin-top: 40px;
    overflow: hidden;
}
.content_input{
    height: auto;
    padding: 50px 30px 0px 30px;
}
.line{
    width: 100%;
    height:2px;
    background:rgba(255,159,8,1);
    border:0px solid rgba(253, 215, 91, 1);
    box-shadow:0px 0px 0px 0px rgba(234,81,57,0.3);
    border-radius:1px;
    margin-top: 18px;
}
.inputPhone{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputPhone .word{
    width:125px;
    font-size:24px;
    color:rgba(221,221,221,1);
    margin-left: 20px;
    margin-right: 10px;
}
.inputPhone .input{
    border: 0;
    font-size:28px;
    color:rgba(51,51,51,1);
    outline: 0;
    flex-grow: 1;
}
.inputPhone .input input{
    border: 0;
    color:rgba(51,51,51,1);
    outline: 0;
    height: 31px;
}

.inputClass1 .inputPhone{
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputClass1 input{
    border: 0;
    color:rgba(51,51,51,1);
    outline: 0;
    width: 150px;
    height: 31px;
}
.btn{
    width:150px;
    height:58px;
    background:rgba(253,215,91,1);
    border-radius:5px;
    font-size:20px;
    line-height: 59px;
    color:rgba(255,255,255,1);
    text-align: center;
}

.content_input .rule{
    font-size:20px;
    color:rgba(152,152,152,1);
    margin-left: 20px;
    margin-top: 20px;
}
.rule a{
    color: #5C76FB;
}

/* 按钮 */
.regBtn{
    background: url('../img/activityThree/btn.png') no-repeat center center;
    width:81.3%;
    height: 101px;
    background-size: 100% 100%;
    margin: 19px auto;
}

/* 分割图 */
.lineImg{
    width: 100%;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 54px;
}
.lineImgLeft{
    width: 129px;
    height: 6px;
    background: url('../img/activityThree/group14.png') no-repeat center center;
    background-size: 100% 100%;
}
.lineImgMiddl{
    width: 446px;
    height: 26px;
    background: url('../img/activityThree/grouplogo.png') no-repeat center center;
    background-size: 100% 100%;
}
.lineImgRight{
    width: 129px;
    height: 6px;
    background: url('../img/activityThree/group13.png') no-repeat center center;
    background-size: 100% 100%;
}

/* 轮播列表 */
.broaDcast{
    height: 596px;
    width: 81.3%; 
    margin: auto;
    position: relative;
}
.broaDcast_top{
    background: url('../img/activityThree/broadtitle.png') no-repeat center center;
    background-size: 100% 100%;
    width: 54%;
    height: 83px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.broaDcast_centent{
    margin-top: 35px;
    width: 100%;
    height:550px;
    background:rgba(255,255,255,1);
    border:4px solid rgba(253, 215, 91, 1);
    border-radius:10px;
    box-sizing: border-box;
}
/* 底部图片 */
.footerImg{
    margin: auto;
    width: 74%;
    height: 57px;
    background: url('../img/activityThree/footer.png') no-repeat center center;
    background-size: 100% 100%;
    margin-top: 49px;
    margin-bottom: 147px;
}