html,body{
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size: 16px;
}
div{
    margin: 0px;
}
.bg{
    width: 100%;
    height: 100%;
    background: url('../img/bg2.png') center center no-repeat;
    background-size: 100% 100%;
}
.content{
    width: 100%;
    position: relative;
}
.content_bg{
    width: 94%;
    height: 10.10rem;
    background: url('../img/banner@2x.png') center center no-repeat;
    background-size: 100% 10.10rem;
    margin: auto;
}
.content .btn{
    margin-top: 1rem;
    width: 52%;
    height: 3.34rem;
    background: url('../img/btn@2x.png') center center no-repeat;
    background-size: 100% 3.34rem;
    margin: 20px auto auto auto;
}

/* 卡片 */
.card_content{
    margin-top: 1rem;
    width: 95%;
    margin: auto;
    position: relative;
}
.card_bg{
    width: 100%;
    height: auto;
    position: relative;
}
.card_head{
    width: 100%;
    height: 3.5rem;
    background: url('../img/card1@2x.png') center center no-repeat;
    background-size: 100% 100%;
    margin: auto;
}
.card_foot{
    width: 100%;
    height: 2rem;
    background: url('../img/card2@2x.png') center center no-repeat;
    background-size: 100% 2rem;
    margin: auto;
}
.card_midl{
    width: 100%;
    height: 100rem;
    background: url('../img/card3@2x.png') center center no-repeat;
    background-size: 100% 100%;
    /* background: #ede4fc; */
    margin: auto;
}
.content .card{
    width: 100%;
    height: 29.41rem;
    /* background: url('../img/card@2x.png') center center no-repeat; */
    /* background-size: 22.40rem 100%; */
    position: absolute;
    top: 0;
    left: 0;
    /* margin: auto; */
}
.card_title{
    padding: 4rem 1rem 0 1rem;
    font-size:12px;
    font-weight:bold;
    position: relative;
}
.card_title1{
    position: relative;
    overflow: hidden;
}
.card_title1 img{
    display: inline-block;
    width: 0.75rem;
    height: 1.4rem;
}
.card_title1 .desc1{
    display: inline-block;
    position: absolute;
    left: 14px;
    top: 0px;
}
.line1{
    width: 100%;
    height: 2px;
    background: url('../img/line.png') center center no-repeat;
    background-size: 100% 2px;
}

/* 详情 */
.card_detail{
    position: relative;
    padding: 12px 1rem 0 1rem;
}
.card_detail .detail{
    position: relative;
}
.detail .icon{
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
}
.detail .icon img{
    float: left;
    height: 20px;
    width: 20px;
    border-radius: 15%;
}
.detail .icon .name{
    margin-left: 0.5rem;
    float: left;
    height:20px;
    font-size:12px;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:20px;
}
.detail .type{
    height:12px;
    font-size:12px;
    color:rgba(51,51,51,1);
    margin-bottom: 5px;
}
.detail .type i{
    color: #FF0000;
    font-style:normal;
}
.detail .type .quota{
    float: left;
    line-height:12px;
}
.detail .type .money{
    margin-left: 14px;
    float: left;
    line-height:12px;
}
.detail .desc{
    width:100%;
    font-size:10px;
    color:rgba(152,152,152,1);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
    text-align: left;
}

.phone{
    width: 93%;
    margin: auto;
    height: auto;
}
.phone_num{
    border: 0px;
    width: 100%;
    height: 2.75rem;
    /* background: url('../img/bg11@2x.png') center center no-repeat; */
    /* background-size: 100% 2.75rem; */
    font-size:12px;
    color:rgba(152,152,152,1);
    position: relative;
    margin-top: 9px;
}
.phone_input{
    margin: 0px;
    width: 100%;
    height: 2.75rem;
    background: #ede4fc;
    background: url('../img/bg11@2x.png') center center no-repeat;
    background-size: 100% 2.75rem;
    font-size:12px;
    color:rgba(152,152,152,1);
    border: 0;
    outline: none;
    border-radius: 0.08rem;
    text-indent: 2em;
    box-sizing: border-box;
}
.verCode-btn{
    display: inline-block;
    width: 28%;
    height: 2.75rem;
    line-height: 2.75rem;
    text-align: center;
    border-left: 0.013rem solid #cccccc;
    font-size: 12px;
    background:url('../img/bg13@2x.png') center center no-repeat;
    background-size: 100% 2.75rem;
    color:rgba(255,255,255,1);
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    right: 0px;
}
.btn_sign_rule{
    position: relative;
    display: block;
    width: 45%;
    height: 0.75rem;
    background: url('../img/bg9@2x.png') center center no-repeat;
    background-size: 100% 0.75rem;
    margin: 5px auto auto auto; 
}