.bg {
    width: 100%;
    height: 100%;
    background: url('../img/bgtwo@2x.png') center center no-repeat;
    background-size: 100% 100%;
}
.content_bg{
    width: 100%;
    height: 19rem;
    background: url('../img/logotwo1@2x.png') center center no-repeat;
    background-size: 100% 100%;
}
.content .btnTwo {
    margin: 1.2rem auto auto auto;
    width: 54%;
    height: 6.34rem;
    background: url('../img/btnTwo@2x-1.png') center center no-repeat;
    /* background: url('../img/btntwo@2x.png') center center no-repeat; */
    background-size: 100% 6.34rem;
}

.btn_sign_rule {
    margin-top: 10px;
}
.phone_input {
    color:rgba(51,51,51,1);
    font-size: 14px;
}
.phone_num input::-webkit-input-placeholder {
    color:rgba(152,152,152,1);
    font-size: 12px;
}

.phone_num input:-moz-placeholder{
    color:rgba(152,152,152,1);
    font-size: 12px;
}

.phone_num input::-moz-placeholder {
    color:rgba(152,152,152,1);
    font-size: 12px;
}
.phone_num input:-ms-input-placeholder {
    color:rgba(152,152,152,1);
    font-size: 12px;
}

.phone{
    width: 87%;
    margin-top: 48px;
}
.phone_num{
    height: 2.5rem;
}
.phone_input{
    height: 2.5rem;
    background: url('../img/btntwo8copy@2x.png') center center no-repeat;
    background-size: 100% 2.5rem;
}
.phone_input1{
    width: 62%;
    height: 2.5rem;
    background: url('../img/bgtwo8@2x.png') center center no-repeat;
    background-size: 100% 2.5rem;
}
.verCode-btn{
    width: 38.3%;
    height: 2.84rem;
    background: url('../img/group15@2x.png') center center no-repeat;
    background-size: 100% 2.5rem;
    color:rgba(234,123,73,1);
    line-height: 2.5rem;
    border: 0;
    right: -3px;
}

.btn_sign_rule{
    background: url('../img/rule@2x-1.png') center center no-repeat;
    background-size: 100% 100%;
}

.twoBgMoney{
    margin: 1.87rem auto auto auto;
    width: 70.6%;
    height: 7.15rem;
    background: url('../img/regSuccess@2x.png') center center no-repeat;
    background-size: 100% 100%;
}
.twoBtnSuccess{
    display: block;
    margin: 2.18rem auto auto auto;
    width: 54%;
    height: 3.15rem;
    background: url('../img/twoBtnSuccess@2x.png') center center no-repeat;
    background-size: 100% 3.15rem;
}

/* 动画 */
.prog{
    display: none;
    width: 100%;
    height: 100%;
    background:rgba(246,246,246,1);
    overflow: auto;
}
.wrap_animation{
    margin: auto;
    width: 80%;
}
.animation{
    height: 0.625rem;
    width: 100%;
    background: url('../img/group2@2x.png') no-repeat center center;
    background-size: 100% 0.625rem;
    animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive 2s;
}
@-webkit-keyframes animate-positive{
    0% { width: 0; }
}
@keyframes animate-positive{
    0% { width: 0; }
}
/* @keyframes progress-bar-stripes{
    0% {
        background-position: 40px 0;
    }
    100% {
        background-position: 0 0;
    }
} */
.prog .desc{
    margin: 1.25rem auto auto auto;
    font-size:1rem;
    color:rgba(152,152,152,1);
    text-align: center;
}