.bg {
    width: 100%;
    height: 100%;
    background: url('../img/bgtwo@2x.png') center center no-repeat;
    background-size: 100% 100%;
}
.content_bg{
    width: 100%;
    height: 19rem;
    background: url('../img/logotwo1@2x.png') center center no-repeat;
    background-size: 100% 100%;
}
.content .btnTwo {
    margin: 1.2rem auto auto auto;
    width: 54%;
    height: 6.34rem;
    background: url('../img/btntwo@2x.png') center center no-repeat;
    background-size: 100% 6.34rem;
}

.btn_sign_rule {
    margin-top: 10px;
}
.phone_input {
    color: rgba(248, 178, 146, 1);
}
.phone_num input::-webkit-input-placeholder {
    color: rgba(248, 178, 146, 1);
}

.phone_num input:-moz-placeholder{
    color: rgba(248, 178, 146, 1);
}

.phone_num input::-moz-placeholder {
    color: rgba(248, 178, 146, 1);
}
.phone_num input:-ms-input-placeholder {
    color: rgba(248, 178, 146, 1);
}

.phone{
    width: 87%;
}
.phone_num{
    height: 2.5rem;
}
.phone_input{
    height: 2.5rem;
    background: url('../img/btntwo8copy@2x.png') center center no-repeat;
    background-size: 100% 2.5rem;
}
.phone_input1{
    width: 62%;
    height: 2.5rem;
    background: url('../img/bgtwo8@2x.png') center center no-repeat;
    background-size: 100% 2.5rem;
}
.verCode-btn{
    width: 38.3%;
    height: 2.84rem;
    background: url('../img/group15@2x.png') center center no-repeat;
    background-size: 100% 2.5rem;
    color:rgba(234,123,73,1);
    line-height: 2.5rem;
    border: 0;
    right: -3px;
}

.btn_sign_rule{
    background: url('../img/rule@2x-1.png') center center no-repeat;
    background-size: 100% 100%;
}